
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="{{url_for('static',filename='about.css')}}">
     <title>Document</title>
 </head>
 <body>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h4 style="text-align: center;"> WELL 1</h4>
        <div class="picture">
            <img src="{{url_for('static',filename='pictures/img_1.png')}}" width="400" height="500" alt="not found">
        </div>
        </div>
        <div class="col-sm">
            <h4 style="text-align: center;">WELL 2</h4>
            <div class="picture1">
                <img src="{{url_for('static',filename='pictures/img_2.png')}}" width="400" height="500" alt="not found">
            </div>
        </div>
        <div class="col-sm">
            <h4 style="text-align: center;">WELL 3</h4>
            <div class="picture2">
                <img src="{{url_for('static',filename='pictures/img_3.png')}}" width="400" height="500" alt="not found">
            </div>
          </div>
        </div>
    </div>
           

</body>
 </html>