<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data" class="form-contanier">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.las_file_1.label()}}
                {{form.las_file_1(class="form-control-file")}}
                {% if form.las_file_1.error %}
                  {% for error in form.las_file_1.errors %}
                    <span class="text-danger">{{ error }}</span>
                  {% endfor %}
                {% endif %}
                </div>
                <div class="form-group">
                  {{ form.las_file_2.label()}}
                  {{form.las_file_2(class="form-control-file")}}
                  {% if form.las_file_2.error %}
                    {% for error in form.las_file_2.errors %}
                      <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                  {% endif %}
                  </div>
                  <div class="form-group">
                    {{ form.las_file_3.label()}}
                    {{form.las_file_3(class="form-control-file")}}
                    {% if form.las_file_3.error %}
                      {% for error in form.las_file_3.errors %}
                        <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-primary btn-success btn-block")}}
            </div>
    </form>
</body>
</html>